@{
    ViewBag.Title = "PrivateOfficeIndex";
    Layout = "~/Views/Shared/_LayoutMenuAdmin.cshtml";
}

<section id="content">
    <div class="container">
        <div class="row">
            <h2>PrivateOfficeIndex</h2>
        </div>
    </div>
</section>
