
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<div class="build-in-content">
    <p class="breadcrumb">
        <div class="normal-font20">

            @Html.ActionLink("Главная", "Index", "HomePage")
            > О нас
        </div>
    </p>

    <h2>Информация о нас</h2>

</div>