@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenuAdmin.cshtml";
}

<section id="content">
    <div class="container">
        <div class="row">

            <div style="font-size: 24px;"> Вас приветствует кабинет администратора! Для начала работы с кабинетом выберите желаемый раздел.</div>
            <div class="padcontent"></div>

        </div>
    </div>
</section>