@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<div class="container">
    <p class="breadcrumb">
        <div class="normal-font20">
            @Html.ActionLink("Главная", "Index", "HomePage")
            > Логопед
        </div>
    </p>
</div>


<section id="content">
    <div class="container">
        <div class="row">

            <h1 style="font-family: 'Droid Serif'">Советы логопеда</h1>

            <div class="span3 left-menu">
                <div class="latest">
                    <h3 style="font-family: 'Droid Serif'">Разделы</h3>
                    <ul class="black-list">
                        <li><a href="#">Уроки</a></li>
                        <li><a href="#">Статьи</a></li>
                    </ul>
                    <div class="clearfix padcontent"></div>
                </div>
            </div>
            
            
            @*<br/>*@
            <div class="head-article">Речь</div>
            
            
            <div class="article-body">
                <p>
                    <span class="color1">
                        Речь - сложная система навыков.
                    </span> 
                    <span class="base-color">
                        В процессе речевого развития формируются высшие психические функции, подготавливающие ребенка к взрослой жизни.
                    </span>
                </p>
                
                <p><span class="color2">Дошкольное детство</span> 
                    <span class="base-color"> - первый период психического развития ребенка, в связи с этим он является самым важным и ответственным, 
                        так как именно в этом возрасте закладываются основы всех
                        психических свойств и качеств личности, познавательных процессов и видов деятельности. Одним из важнейших приобретений дошкольного детства является речь, которая начинает формироваться
                        в младенческом возрасте. В раннем детстве, с усложнением деятельности малыша и расширением доступных сфер деятельности, усложняется общение со взрослыми, и потребность в речи возрастает,
                        что в свою очередь, стимулирует развитие активной речи, которая превращается в средство общения. Речь начинает приобретать коммуникативную функцию, а в дальнейшем обобщающую, планирующую,
                        регулирующую и знаковую. 
                    </span> </p>
                <img src="~/Content/img/logoped1.jpg" class="photo logo-photo" />
                

                <p>
                    <span class="color3"> 
                        Именно в дошкольном возрасте речь ребенка наиболее уязвима, и под воздействием ряда неблагоприятных факторов может нарушаться и в дальнейшем иметь патологическое развитие.
                    </span>
                    <span class="base-color">
                        В связи с выше сказанным очень важно наблюдать за развитием малыша, за его общением со взрослыми и сверстниками. При первых же тревожных симптомах, касающихся развития малыша,
                        необходимо обратиться к специалистам (невропатологу, психиатру, логопеду, психологу). Важно не упустить момент и вовремя начать коррекционную терапию, так как в возрасте до 6 лет
                        детски организм очень пластичен, что создает огромные возможности для воспитания, обучения и компенсации нарушенных функций с помощью других функций и систем организма.
                    </span>
                </p>
                <p>
                    <span class="color4">Развитие речи в младенчестве.</span>
                    <span class="base-color">
                        Младенчество является подготовительным этапом в развитии. В этом возрасте закладываются предпосылки понимания речи взрослых, активного употребления слов. Понимание речи взрослых (пассивная речь) усваивается быстрее чем самостоятельная (активная).Ребенок рождается с готовым речевым аппаратом, но использование его связанно с необходимостью:
                        <div class="block-list">
                            <ul class="base-list">
                                <li>- приобретения навыка пользования речевым аппаратом,</li>
                                <li>- знакомства со словесными формами,</li>
                                <li>- накопления содержания для речи,</li>
                                <li>- установления содержания для речи,</li>
                                <li>- установления социальных связей с окружающими, так как развитие речи ребенка неразрывно связано с возникновением и ростом потребности в общении со взрослыми.</li>
                            </ul>
                        </div>
                    </span>
                </p>
                <img src="~/Content/img/childs.jpg" class="photo logo-photo logo-photo2"/>
                <p>
                    <span class="color5">В первом полугодии первого года жизни</span>
                    <span class="base-color">
                        младенец еще не понимает значение того что ему говорят, а он особым образом реагирует на ритмико-мелодические звуки голоса человека,
                        а во втором полугодии первого года жизни из всех голосовых воздействий взрослого выделяет звук речи. Младенец очень чувствителен к интонации с которой к нему обращается взрослый,
                        к мимике, которой сопровождается высказывание.
                        Реагировать на слова ребенок начинает очень рано. На 3 неделе он сосредотачивается на голосе взрослого. На 2-ом мес. жизни прекращает крик под влиянием разговора с ним, сосредотачиваясь на лице взрослого.
                    </span>
                </p>
                <p>
                    <span class="color5">
                        Во втором полугодии первого года жизни 
                    </span>
                    <span class="base-color">
                        ребенок устанавливает связь между словом и предметом или действием,
                        В 7-8 мес. поворачивается к предмету в ответ на вопрос взрослого "где?",выполняет разученные движения при их назывании взрослыми("ладушки","до свидания"). 
                        В 9 мес. ребенок уже находит несколько знакомых предметов не зависимо от их местоположения. Примерно в 9-10 мес. малыш понимает элементарные поручения ("дай маме ложку" и т. п.)
                        В10-11 мес. ребенок выбирает предметы по словесному указанию взрослого.
                    </span>
                </p>
                <p>
                    <span class="base-color">На первом году возникают предпосылки слушания. Малыш сосредотачивается не только на речи взрослого, обращенной к нему, но и на песенках и маленьких стихотворениях.
                        Развитие активной речи также включено в общение со взрослыми. На 3 мес. жизни малыш реагирует на слова взрослого смехом и звуками. Появляется гуканье (2-4 мес.). Около 4 мес. гукание сменяется гулением. Малыш произносит высокие певучие звуки. На 4 мес. малыш перекликивается со взрослым на расстоянии. Важным приобретением является то, что звуки произносятся под контролем слуха. Их произнесение становится самостоятельной деятельности.
                        На 5-6 мес. ребенок произносит различные звуки, сопровождая их движениями для привлечения к себе внимания со стороны взрослого, для "выражения"ему своих желаний.
                        После 6 мес. в речи младенца появляется лепет - слоги и звуки, которые перемежаются смехом и сопровождаются движениями. С помощью лепета малыш выражает свои требования (дя-дя-дя и тянется к тарелочке).
                        После 10 мес. в речи малыша можно услышать слова или обрывки слов ("не","ам"). Так ребенок отвечает на понимание им высказывание взрослого. Такая речь возникает как ответ на предложение взрослого и состоит из трех компонентов:
                        <div class="block-list">
                            <ul class="base-list">
                                <li>
                                    - жестов,
                                </li>
                                <li>
                                    - мимики,
                                </li>
                                <li>
                                    - звуков.
                                </li>
                            </ul>
                        </div>
                            Это еще не собственно речь. Ребенок много лепечет и вне общения со взрослым. Лепет - самостоятельная форма деятельности ребенка, доречевое средство общения и способ выражения эмоций. Произнося звуки, малыш основывается на подражании и самоподражании. Подражание выступает как механизм развития речи. Ребенок обращает внимание на артикуляцию взрослого, повторяет за ним новые звуки и слова. К концу первого года в активную речь ребенка включается от 4 до 20 слов, которые обозначают названия лиц и предметов. Слова приобретают предметную отнесенность, создавая основу для освоения ребенком их значений. Развивается инициативное употребление осмысленных слов.
</span>
                 </p>

            </div>
            <div class="clearfix padcontent"></div>
        </div>
    </div>
</section>
           
